<nav class="navbar navbar-expand-sm navbar-dark " style="background-color:#C28BEF;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">BÁCH HÓA SHOP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
            </ul>




            <a href="/login" class="btn btn-primary btn-sm">Đăng nhập</a>


        </div>
    </div>
</nav>

