<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color:#A56EFF; height: 50px;">
    <div class="container-fluid p-0">
        <a class="navbar-brand fw-bold ms-3" href="/">
            <img src="https://cdn-icons-png.flaticon.com/512/123/123403.png" width="40" class="me-2">
        </a>



        <div class="d-flex align-items-center text-white me-3">
            <span class="me-2 fw-bold">BaoYen</span>
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" width="35"
                 class="rounded-circle border border-2">
        </div>
    </div>
</nav>