body {
    background-color: #f5f5f5;
}

/* Sidebar */
.sidebar {
    background: linear-gradient(180deg, #9b59b6, #8e44ad);
    height: 100vh;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
    cursor: pointer;
}

/* Header */
.header {
    background: #a66bbe;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.search {
    width: 60%;
}

/* Product */
.product-card {
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-card img {
    height: 150px;
    object-fit: cover;
}

.price {
    font-weight: bold;
}
